x-common-environment: &common-env
    POSTGRESQL_USER: user
    POSTGRESQL_PASSWORD: pass
    POSTGRESQL_HOST: db
    POSTGRESQL_PORT: 5432
    POSTGRESQL_DATABASE: devdb
    POSTGRESQL_PRISMA_URL: "postgresql://${POSTGRESQL_USER}:${POSTGRESQL_PASSWORD}@${POSTGRESQL_HOST}:5432/${POSTGRESQL_DATABASE}?schema=auth"
    REDIS_HOST: cache
    REDIS_PORT: 6379
    REDIS_PASSWORD: redispass
    JWT_AUTH_SECRET: ${JWT_AUTH_SECRET}
    JWT_AUTH_REFRESH_SECRET: ${JWT_AUTH_REFRESH_SECRET}
    JWT_AUTH_EXPIRES_IN: ${JWT_AUTH_EXPIRES_IN}
    JWT_AUTH_REFRESH_EXPIRES_IN: ${JWT_AUTH_REFRESH_EXPIRES_IN}
    JWT_AUTH_VERIFICATION_SECRET: ${JWT_AUTH_VERIFICATION_SECRET}
    JWT_AUTH_VERIFICATION_EXPIRES_IN: ${JWT_AUTH_VERIFICATION_EXPIRES_IN}
    COOKIE_SECRET: ${COOKIE_SECRET}
    API_GATEWAY_PORT: ${API_GATEWAY_PORT}
    AUTH_SERVICE_PORT: ${AUTH_SERVICE_PORT}
    AUTH_SERVICE_HOST: ${AUTH_SERVICE_HOST}
    CORE_SERVICE_PORT: ${CORE_SERVICE_PORT}
    CORE_SERVICE_HOST: ${CORE_SERVICE_HOST}
    AI_GENERATION_SERVICE_HOST: ${AI_GENERATION_SERVICE_HOST}
    AI_GENERATION_SERVICE_PORT: ${AI_GENERATION_SERVICE_PORT}
    EMAIL_USERNAME: ${EMAIL_USERNAME}
    EMAIL_PASSWORD: ${EMAIL_PASSWORD}
    KAFKA_HOST: ${KAFKA_HOST}
    KAFKA_PORT: ${KAFKA_PORT}

services:

  api_gateway:
    build: 
      context: ./backend
      dockerfile: nestjs/apps/api-gateway/Dockerfile.dev
    volumes:
      - ./backend/nestjs/apps:/usr/src/backend/nestjs/apps
      - ./backend/nestjs/prisma:/usr/src/backend/nestjs/prisma
      - ./backend/protos:/usr/src/backend/protos
    ports:
      - "5000:5000"
    environment:
      <<: *common-env
    command: npm run start:dev api-gateway

  auth_service:
    build: 
      context: ./backend/nestjs
      dockerfile: apps/auth-service/Dockerfile.dev
    volumes:
      - ./backend/nestjs/apps:/usr/src/backend/nestjs/apps
      - ./backend/nestjs/prisma:/usr/src/backend/nestjs/prisma
    ports:
      - "6000:6000"
    environment:
      <<: *common-env
    command: sh -c "npx prisma migrate deploy --schema=prisma/db-postgres/schema.prisma || true && npm run start:dev auth-service"


  core_service:
    build: 
      context: ./backend
      dockerfile: nestjs/apps/core-service/Dockerfile.dev
    volumes:
      - ./backend/nestjs/apps:/usr/src/backend/nestjs/apps
      - ./backend/nestjs/prisma:/usr/src/backend/nestjs/prisma
      - ./backend/protos:/usr/src/backend/protos
    ports:
      - "7000:7000"
    environment:
      <<: *common-env
    command: npm run start:dev core-service


  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/usr/src/frontend
    ports:
      - "3000:3000"
    environment:
      <<: *common-env
    command: npm run dev

networks:
  default: 
    name: snippetquiz