version: '3.8'
services:
  db:
    image: postgres:15
    container_name: local_postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: devdb
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d devdb"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    volumes: 
      - ./local/db:/var/lib/postgresql/data
  
  cache:
    image: redis:6.2-alpine
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning --requirepass redispass
    volumes: 
      - ./local/cache:/data

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile.dev
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_started
    ports:
      - "3001:3001"
    environment:
      DB_HOST: db
      DB_USER: user
      DB_PASSWORD: pass
      DB_NAME: devdb
      REDIS_HOST: cache
      REDIS_PORT: 6379
      REDIS_PASSWORD: redispass
    volumes:
      - ./backend/src:/usr/src/backend/src
      - .env:/usr/src/backend/.env
      - /usr/src/backend/node_modules
    command: npm run dev