x-common-environment: &common-env
    POSTGRESQL_USER: user
    POSTGRESQL_PASSWORD: pass
    POSTGRESQL_HOST: db
    POSTGRESQL_PORT: 5432
    POSTGRESQL_DATABASE: devdb
    POSTGRESQL_PRISMA_URL: "postgresql://user:pass@db:5432/devdb?schema=auth"
    REDIS_HOST: cache
    REDIS_PORT: 6379
    REDIS_PASSWORD: redispass
    JWT_AUTH_SECRET: "your-secret-key"
    JWT_AUTH_REFRESH_SECRET: "your-refresh-secret-key"
    JWT_AUTH_EXPIRES_IN: "15m"
    JWT_AUTH_REFRESH_EXPIRES_IN: "7d"
    JWT_AUTH_VERIFICATION_SECRET: "your-verification-secret-key"
    JWT_AUTH_VERIFICATION_EXPIRES_IN: "24h"
    COOKIE_SECRET: "your-cookie-secret"
    API_URL: "http://api-gateway:5000"
    API_GATEWAY_PORT: 5000
    AUTH_SERVICE_PORT: 6000
    AUTH_SERVICE_HOST: "auth-service"
    CORE_SERVICE_PORT: 7001
    CORE_SERVICE_HOST: "core-service"
    AI_GENERATION_SERVICE_HOST: "ai-service"
    AI_GENERATION_SERVICE_PORT: 50051
    EMAIL_USERNAME: ${EMAIL_USERNAME}
    EMAIL_PASSWORD: ${EMAIL_PASSWORD}
    KAFKA_HOST: "broker"
    KAFKA_PORT: "29092"

services:
  api-gateway:
    build: 
      context: ./backend
      dockerfile: nestjs/apps/api-gateway/Dockerfile.dev
    volumes:
      - ./backend/nestjs/apps:/usr/src/backend/nestjs/apps
      - ./backend/nestjs/prisma:/usr/src/backend/nestjs/prisma
      - ./backend/protos:/usr/src/backend/protos
    ports:
      - "5000:5000"
    environment:
      <<: *common-env
    command: npm run start:dev api-gateway

  auth-service:
    build: 
      context: ./backend/nestjs
      dockerfile: apps/auth-service/Dockerfile.dev
    volumes:
      - ./backend/nestjs/apps:/usr/src/backend/nestjs/apps
      - ./backend/nestjs/prisma:/usr/src/backend/nestjs/prisma
    ports:
      - "6000:6000"
    environment:
      <<: *common-env
    command: sh -c "npx prisma migrate deploy --schema=prisma/db-postgres/schema.prisma || true && npm run start:dev auth-service"

  core-service:
    build: 
      context: ./backend/java
      dockerfile: Dockerfile
    ports:
      - "7001:7001"
    environment:
      <<: *common-env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/usr/src/frontend
    ports:
      - "3000:3000"
    environment:
      <<: *common-env
    command: npm run dev

networks:
  default: 
    name: snippetquiz