x-common-environment: &common-env
  POSTGRESQL_USER: user
  POSTGRESQL_PASSWORD: pass
  POSTGRESQL_HOST: db
  POSTGRESQL_PORT: 5432
  POSTGRESQL_DATABASE: snippetquiz
  REDIS_HOST: cache
  REDIS_PORT: 6379
  REDIS_PASSWORD: redispass
  JWT_AUTH_SECRET: "your-secret-key"
  JWT_AUTH_REFRESH_SECRET: "your-refresh-secret-key"
  JWT_AUTH_EXPIRES_IN: "15m"
  JWT_AUTH_REFRESH_EXPIRES_IN: "7d"
  JWT_AUTH_VERIFICATION_SECRET: "your-verification-secret-key"
  JWT_AUTH_VERIFICATION_EXPIRES_IN: "24h"
  COOKIE_SECRET: "your-cookie-secret"
  API_BASE_URL: "http://localhost:3001"
  AUTH_SERVICE_HOST: "auth-service"
  AI_CONTENT_SERVICE_HOST: "ai-content-service"
  CORE_SERVICE_HOST: "core-service"
  EMAIL_USERNAME: ${EMAIL_USERNAME}
  EMAIL_PASSWORD: ${EMAIL_PASSWORD}
  KAFKA_HOST: "broker"
  KAFKA_PORT: "29092"
  OPENROUTER_API_KEY: ${OPENROUTER_API_KEY}

services:
  db:
    build: ./infra/postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: snippetquiz
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRESQL_USER} -d ${POSTGRESQL_DATABASE}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  cache:
    image: redis:6.2-alpine
    restart: always
    ports:
      - '6379:6379'
    environment:
      <<: *common-env
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD}
    volumes:
      - ./local/cache:/data

  broker:
    image: apache/kafka:4.0.0
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,DOCKER://:29092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,DOCKER://broker:29092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,DOCKER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 1

  init-kafka:
    image: apache/kafka:4.0.0
    depends_on:
      - broker
    volumes:
      - ./infra/broker/entrypoint.sh:/entrypoint.sh
    command: [ "/entrypoint.sh" ]

  api-gateway:
    image: ghcr.io/rafaesc/snippetquiz/snippetquiz-api-gateway:latest
    ports:
      - "3001:3001"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:3001/api/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    environment:
      <<: *common-env

  auth-service:
    image: ghcr.io/rafaesc/snippetquiz/snippetquiz-auth-service:latest
    ports:
      - "3002:3002"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:3002/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    depends_on:
      init-kafka:
        condition: service_completed_successfully
      db:
        condition: service_healthy
    environment:
      <<: *common-env

  ai-content-service:
    image: ghcr.io/rafaesc/snippetquiz/snippetquiz-ai-content-service:latest
    ports:
      - "3004:3004"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:3004/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    depends_on:
      init-kafka:
        condition: service_completed_successfully
      db:
        condition: service_healthy
    environment:
      <<: *common-env

  core-service:
    image: ghcr.io/rafaesc/snippetquiz/snippetquiz-core-service:latest
    ports:
      - "3003:3003"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:3003/actuator/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s
    depends_on:
      init-kafka:
        condition: service_completed_successfully
      db:
        condition: service_healthy
    environment:
      <<: *common-env

  frontend:
    image: ghcr.io/rafaesc/snippetquiz/snippetquiz-frontend:latest
    ports:
      - "3000:3000"
    environment:
      <<: *common-env

networks:
  default:
    name: snippetquiz
