x-common-environment: &common-env
    DATABASE_URL_POSTGRES: ${DATABASE_URL_POSTGRES}
    REDIS_HOST: ${REDIS_HOST}
    REDIS_PORT: ${REDIS_PORT}
    REDIS_PASSWORD: ${REDIS_PASSWORD}
    JWT_AUTH_SECRET: ${JWT_AUTH_SECRET}
    JWT_AUTH_REFRESH_SECRET: ${JWT_AUTH_REFRESH_SECRET}
    JWT_AUTH_EXPIRES_IN: ${JWT_AUTH_EXPIRES_IN}
    JWT_AUTH_REFRESH_EXPIRES_IN: ${JWT_AUTH_REFRESH_EXPIRES_IN}
    JWT_AUTH_VERIFICATION_SECRET: ${JWT_AUTH_VERIFICATION_SECRET}
    JWT_AUTH_VERIFICATION_EXPIRES_IN: ${JWT_AUTH_VERIFICATION_EXPIRES_IN}
    COOKIE_SECRET: ${COOKIE_SECRET}
    API_GATEWAY_PORT: ${API_GATEWAY_PORT}
    AUTH_SERVICE_PORT: ${AUTH_SERVICE_PORT}
    AUTH_SERVICE_HOST: ${AUTH_SERVICE_HOST}
    CORE_SERVICE_PORT: ${CORE_SERVICE_PORT}
    CORE_SERVICE_HOST: ${CORE_SERVICE_HOST}
    EMAIL_USERNAME: ${EMAIL_USERNAME}
    EMAIL_PASSWORD: ${EMAIL_PASSWORD}
    ALLOWED_ORIGINS: ${ALLOWED_ORIGINS}


services:
  api_gateway:
    build: 
      context: ./backend/nestjs
      dockerfile: apps/api-gateway/Dockerfile
    image: client-gateway-prod
    ports:
      - ${API_GATEWAY_PORT}:5000
    environment:
      <<: *common-env

  auth_service:
    build: 
      context: ./backend/nestjs
      dockerfile: apps/auth-service/Dockerfile
      args:
        - DATABASE_URL_POSTGRES=${DATABASE_URL_POSTGRES}
    image: auth-service-prod
    environment:
      <<: *common-env

  core_service:
    build: 
      context: ./backend/nestjs
      dockerfile: apps/core-service/Dockerfile
      args:
        - DATABASE_URL_POSTGRES=${DATABASE_URL_POSTGRES}
    image: core-service-prod
    environment:
      <<: *common-env

networks:
  default: 
    name: snippetquiz