x-common-environment: &common-env
  POSTGRESQL_USER: user
  POSTGRESQL_PASSWORD: pass
  POSTGRESQL_HOST: db
  POSTGRESQL_PORT: 5432
  POSTGRESQL_DATABASE: snippetquiz
  REDIS_HOST: cache
  REDIS_PORT: 6379
  REDIS_PASSWORD: redispass
  JWT_AUTH_SECRET: "your-secret-key"
  JWT_AUTH_REFRESH_SECRET: "your-refresh-secret-key"
  JWT_AUTH_EXPIRES_IN: "15m"
  JWT_AUTH_REFRESH_EXPIRES_IN: "7d"
  JWT_AUTH_VERIFICATION_SECRET: "your-verification-secret-key"
  JWT_AUTH_VERIFICATION_EXPIRES_IN: "24h"
  COOKIE_SECRET: "your-cookie-secret"
  API_URL: "http://api-gateway:3001"
  AUTH_SERVICE_HOST: "auth-service"
  AI_CONTENT_SERVICE_HOST: "ai-content-service"
  CORE_SERVICE_HOST: "core-service"
  EMAIL_USERNAME: ${EMAIL_USERNAME}
  EMAIL_PASSWORD: ${EMAIL_PASSWORD}
  KAFKA_HOST: "broker"
  KAFKA_PORT: "29092"
  OPENROUTER_API_KEY: ${OPENROUTER_API_KEY}

services:
  api-gateway:
    build:
      context: ./backend/nestjs
      dockerfile: apps/api-gateway/Dockerfile
    volumes:
      - ./backend/nestjs/apps:/usr/src/backend/nestjs/apps
    ports:
      - "3001:3001"
    environment:
      <<: *common-env

  auth-service:
    build:
      context: ./backend/nestjs
      dockerfile: apps/auth-service/Dockerfile
    volumes:
      - ./backend/nestjs/apps:/usr/src/backend/nestjs/apps
      - ./backend/nestjs/prisma/auth-service:/usr/src/backend/nestjs/prisma/auth-service
    ports:
      - "3002:3002"
    environment:
      <<: *common-env

  ai-content-service:
    build:
      context: ./backend/nestjs
      dockerfile: apps/ai-content-service/Dockerfile
    volumes:
      - ./backend/nestjs/apps:/usr/src/backend/nestjs/apps
      - ./backend/nestjs/prisma/ai-content-service:/usr/src/backend/nestjs/prisma/ai-content-service
    ports:
      - "3004:3004"
    environment:
      <<: *common-env

  core-service:
    build:
      context: ./backend/java
      dockerfile: Dockerfile
    ports:
      - "3003:3003"
    environment:
      <<: *common-env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      <<: *common-env

networks:
  default:
    name: snippetquiz
