x-common-environment: &common-env
    DB_HOST: db
    DB_USER: user
    DB_PASSWORD: pass
    DB_NAME: devdb
    REDIS_HOST: cache
    REDIS_PORT: 6379
    REDIS_PASSWORD: redispass

services:
  db:
    extends:
      file: docker-compose.persistent.yml
      service: db
  
  cache:
    extends:
      file: docker-compose.persistent.yml
      service: cache

  api_gateway:
    build: 
      context: ./backend
      dockerfile: apps/api-gateway/Dockerfile.dev
    volumes:
      - ./backend/apps:/usr/src/backend/apps
      - .env:/usr/src/backend/.env
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_started
    ports:
      - "5000:5000"
    environment:
      <<: *common-env
    command: npm run start:dev api_gateway

networks:
  default: 
    name: snippetquiz