x-common-environment: &common-env
    DATABASE_URL_POSTGRES: postgresql://user:pass@db:5432/devdb?schema=public
    REDIS_HOST: cache
    REDIS_PORT: 6379
    REDIS_PASSWORD: redispass
    JWT_AUTH_SECRET: ${JWT_AUTH_SECRET}
    JWT_AUTH_REFRESH_SECRET: ${JWT_AUTH_REFRESH_SECRET}
    JWT_AUTH_EXPIRES_IN: ${JWT_AUTH_EXPIRES_IN}
    JWT_AUTH_REFRESH_EXPIRES_IN: ${JWT_AUTH_REFRESH_EXPIRES_IN}
    JWT_AUTH_VERIFICATION_SECRET: ${JWT_AUTH_VERIFICATION_SECRET}
    JWT_AUTH_VERIFICATION_EXPIRES_IN: ${JWT_AUTH_VERIFICATION_EXPIRES_IN}
    COOKIE_SECRET: ${COOKIE_SECRET}
    API_GATEWAY_PORT: ${API_GATEWAY_PORT}
    AUTH_SERVICE_PORT: ${AUTH_SERVICE_PORT}
    AUTH_SERVICE_HOST: ${AUTH_SERVICE_HOST}
    CORE_SERVICE_PORT: ${CORE_SERVICE_PORT}
    CORE_SERVICE_HOST: ${CORE_SERVICE_HOST}
    EMAIL_USERNAME: ${EMAIL_USERNAME}
    EMAIL_PASSWORD: ${EMAIL_PASSWORD}

services:
  db:
    extends:
      file: docker-compose.persistent.yml
      service: db
  
  cache:
    extends:
      file: docker-compose.persistent.yml
      service: cache

  api_gateway:
    build: 
      context: ./backend/nestjs
      dockerfile: apps/api-gateway/Dockerfile.dev
    volumes:
      - ./backend/nestjs/apps:/usr/src/backend/apps
      - ./backend/nestjs/prisma:/usr/src/backend/prisma
      - ./backend/nestjs/generated:/usr/src/backend/generated
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_started
    ports:
      - "5000:5000"
    environment:
      <<: *common-env
    command: npm run start:dev api-gateway

  auth_service:
    build: 
      context: ./backend/nestjs
      dockerfile: apps/auth-service/Dockerfile.dev
    volumes:
      - ./backend/nestjs/apps:/usr/src/backend/apps
      - ./backend/nestjs/prisma:/usr/src/backend/prisma
      - ./backend/nestjs/generated:/usr/src/backend/generated
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_started
    ports:
      - "6000:6000"
    environment:
      <<: *common-env
    command: sh -c "npx prisma migrate deploy --schema=prisma/db-postgres/schema.prisma || true && npm run start:dev auth-service"


  core_service:
    build: 
      context: ./backend/nestjs
      dockerfile: apps/core-service/Dockerfile.dev
    volumes:
      - ./backend/nestjs/apps:/usr/src/backend/apps
      - ./backend/nestjs/prisma:/usr/src/backend/prisma
      - ./backend/nestjs/generated:/usr/src/backend/generated
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_started
    ports:
      - "7000:7000"
    environment:
      <<: *common-env
    command: npm run start:dev core-service

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/usr/src/frontend
    ports:
      - "3000:3000"
    environment:
      <<: *common-env
    command: npm run dev

networks:
  default: 
    name: snippetquiz