x-common-environment: &common-env
    DATABASE_URL_POSTGRES: postgresql://user:pass@db:5432/devdb?schema=public
    REDIS_HOST: cache
    REDIS_PORT: 6379
    REDIS_PASSWORD: redispass
    JWT_SECRET: ${JWT_SECRET}
    JWT_AUTH_REFRESH_SECRET: ${JWT_AUTH_REFRESH_SECRET}
    JWT_AUTH_EXPIRES_IN: ${JWT_AUTH_EXPIRES_IN}
    JWT_AUTH_REFRESH_EXPIRES_IN: ${JWT_AUTH_REFRESH_EXPIRES_IN}
    JWT_AUTH_VERIFICATION_SECRET: ${JWT_AUTH_VERIFICATION_SECRET}
    JWT_AUTH_VERIFICATION_EXPIRES_IN: ${JWT_AUTH_VERIFICATION_EXPIRES_IN}
    API_GATEWAY_PORT: ${API_GATEWAY_PORT}
    AUTH_SERVICE_PORT: ${AUTH_SERVICE_PORT}
    AUTH_SERVICE_HOST: ${AUTH_SERVICE_HOST}
    CORE_SERVICE_PORT: ${CORE_SERVICE_PORT}
    CORE_SERVICE_HOST: ${CORE_SERVICE_HOST}
    EMAIL_USERNAME: ${EMAIL_USERNAME}
    EMAIL_PASSWORD: ${EMAIL_PASSWORD}
    ALLOWED_ORIGINS: ${ALLOWED_ORIGINS}

services:
  db:
    extends:
      file: docker-compose.persistent.yml
      service: db
  
  cache:
    extends:
      file: docker-compose.persistent.yml
      service: cache

  api_gateway:
    build: 
      context: ./backend
      dockerfile: apps/api-gateway/Dockerfile.dev
    volumes:
      - ./backend/apps:/usr/src/backend/apps
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_started
    ports:
      - "5000:5000"
    environment:
      <<: *common-env
    command: npm run start:docker api_gateway

networks:
  default: 
    name: snippetquiz