x-common-environment: &common-env
  POSTGRESQL_USER: ${POSTGRESQL_USER}
  POSTGRESQL_PASSWORD: ${POSTGRESQL_PASSWORD}
  POSTGRESQL_HOST: ${POSTGRESQL_HOST}
  POSTGRESQL_PORT: ${POSTGRESQL_PORT}
  POSTGRESQL_DATABASE: ${POSTGRESQL_DATABASE}
  POSTGRESQL_PRISMA_AUTH_URL: "postgresql://${POSTGRESQL_USER}:${POSTGRESQL_PASSWORD}@${POSTGRESQL_HOST}:5432/${POSTGRESQL_DATABASE}?schema=auth"
  POSTGRESQL_PRISMA_AI_CONTENT_SERVICE_URL: "postgresql://${POSTGRESQL_USER}:${POSTGRESQL_PASSWORD}@${POSTGRESQL_HOST}:5432/${POSTGRESQL_DATABASE}?schema=ai_content_service"
  REDIS_HOST: ${REDIS_HOST}
  REDIS_PORT: ${REDIS_PORT}
  REDIS_PASSWORD: ${REDIS_PASSWORD}
  JWT_AUTH_SECRET: ${JWT_AUTH_SECRET}
  JWT_AUTH_REFRESH_SECRET: ${JWT_AUTH_REFRESH_SECRET}
  JWT_AUTH_EXPIRES_IN: ${JWT_AUTH_EXPIRES_IN}
  JWT_AUTH_REFRESH_EXPIRES_IN: ${JWT_AUTH_REFRESH_EXPIRES_IN}
  JWT_AUTH_VERIFICATION_SECRET: ${JWT_AUTH_VERIFICATION_SECRET}
  JWT_AUTH_VERIFICATION_EXPIRES_IN: ${JWT_AUTH_VERIFICATION_EXPIRES_IN}
  COOKIE_SECRET: ${COOKIE_SECRET}
  API_GATEWAY_PORT: ${API_GATEWAY_PORT}
  AUTH_SERVICE_PORT: ${AUTH_SERVICE_PORT}
  AUTH_SERVICE_HOST: ${AUTH_SERVICE_HOST}
  CORE_SERVICE_PORT: ${CORE_SERVICE_PORT}
  AI_CONTENT_SERVICE_PORT: ${AI_CONTENT_SERVICE_PORT}
  AI_CONTENT_SERVICE_HOST: ${AI_CONTENT_SERVICE_HOST}
  CORE_SERVICE_HOST: ${CORE_SERVICE_HOST}
  EMAIL_USERNAME: ${EMAIL_USERNAME}
  EMAIL_PASSWORD: ${EMAIL_PASSWORD}
  ALLOWED_ORIGINS: ${ALLOWED_ORIGINS}

services:
  api-gateway:
    build:
      context: ./backend/nestjs
      dockerfile: apps/api-gateway/Dockerfile
    image: client-gateway-prod
    ports:
      - ${API_GATEWAY_PORT}:5000
    environment:
      <<: *common-env

  auth-service:
    build:
      context: ./backend/nestjs
      dockerfile: apps/auth-service/Dockerfile
      args:
        - POSTGRESQL_PRISMA_AUTH_URL=${POSTGRESQL_PRISMA_AUTH_URL}
    image: auth-service-prod
    environment:
      <<: *common-env

  ai-content-service:
    build:
      context: ./backend/nestjs
      dockerfile: apps/ai-content-service/Dockerfile
      args:
        - POSTGRESQL_PRISMA_AI_CONTENT_SERVICE_URL=${POSTGRESQL_PRISMA_AI_CONTENT_SERVICE_URL}
    image: ai-content-service-prod
    environment:
      <<: *common-env

  core-service:
    build:
      context: ./backend/java
      dockerfile: Dockerfile
    image: core-service-prod
    environment:
      <<: *common-env

networks:
  default:
    name: snippetquiz
