apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: snippetquiz-api-gateway-chart
  namespace: snippetquiz
spec:
  valuesFrom:
    - kind: Secret
      name: common-env
      valuesKey: jwt-auth-expires-in
      targetPath: jwt.authExpiresIn
    - kind: Secret
      name: common-env
      valuesKey: jwt-auth-refresh-expires-in
      targetPath: jwt.authRefreshExpiresIn
    - kind: Secret
      name: common-env
      valuesKey: jwt-auth-refresh-secret
      targetPath: jwt.authRefreshSecret
    - kind: Secret
      name: common-env
      valuesKey: jwt-auth-secret
      targetPath: jwt.authSecret
    - kind: Secret
      name: common-env
      valuesKey: jwt-auth-verification-expires-in
      targetPath: jwt.authVerificationExpiresIn
    - kind: Secret
      name: common-env
      valuesKey: jwt-auth-verification-secret
      targetPath: jwt.authVerificationSecret
    - kind: Secret
      name: common-env
      valuesKey: email-username
      targetPath: emailService.username
    - kind: Secret
      name: common-env
      valuesKey: email-password
      targetPath: emailService.password
    - kind: Secret
      name: common-env
      valuesKey: cookie-secret
      targetPath: cookies.secret
    - kind: Secret
      name: redis-sessions-password
      valuesKey: password
      targetPath: redis.password