apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: snippetquiz-api-gateway-chart
  namespace: snippetquiz
spec:
  valuesFrom:
    - kind: Secret
      name: common-env
      valuesKey: jwt-auth-expires-in
      targetPath: jwt.authExpiresIn
    - kind: Secret
      name: common-env
      valuesKey: jwt-auth-secret
      targetPath: jwt.authSecret
    - kind: Secret
      name: common-env
      valuesKey: cookie-secret
      targetPath: cookies.secret
    - kind: Secret
      name: redis-sessions-password
      valuesKey: password
      targetPath: redis.password