apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: snippetquiz-api-gateway-chart
  namespace: snippetquiz
spec:
  valuesFrom:
    - kind: Secret
      name: common-env
      valuesKey: JWT_AUTH_EXPIRES_IN
      targetPath: jwt.authExpiresIn
    - kind: Secret
      name: common-env
      valuesKey: JWT_AUTH_REFRESH_EXPIRES_IN
      targetPath: jwt.authRefreshExpiresIn
    - kind: Secret
      name: common-env
      valuesKey: JWT_AUTH_REFRESH_SECRET
      targetPath: jwt.authRefreshSecret
    - kind: Secret
      name: common-env
      valuesKey: JWT_AUTH_SECRET
      targetPath: jwt.authSecret
    - kind: Secret
      name: common-env
      valuesKey: JWT_AUTH_VERIFICATION_EXPIRES_IN
      targetPath: jwt.authVerificationExpiresIn
    - kind: Secret
      name: common-env
      valuesKey: JWT_AUTH_VERIFICATION_SECRET
      targetPath: jwt.authVerificationSecret
    - kind: Secret
      name: common-env
      valuesKey: EMAIL_USERNAME
      targetPath: emailService.username
    - kind: Secret
      name: common-env
      valuesKey: EMAIL_PASSWORD
      targetPath: emailService.password
    - kind: Secret
      name: common-env
      valuesKey: COOKIE_SECRET
      targetPath: cookies.secret
