apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: snippetquiz-core-service-chart
  namespace: snippetquiz
spec:
  valuesFrom:
    - kind: Secret
      name: snippetquiz-db-production-app
      valuesKey: jdbc-uri
      targetPath: postgresql.jdbcUri
