apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: snippetquiz-core-service-chart
  namespace: snippetquiz
spec:
  valuesFrom:
    - kind: Secret
      name: snippetquiz-db-production-app
      valuesKey: host
      targetPath: postgresql.host

    - kind: Secret
      name: snippetquiz-db-production-app
      valuesKey: port
      targetPath: postgresql.port

    - kind: Secret
      name: snippetquiz-db-production-app
      valuesKey: dbname
      targetPath: postgresql.database

    - kind: Secret
      name: snippetquiz-db-production-app
      valuesKey: username
      targetPath: postgresql.user

    - kind: Secret
      name: snippetquiz-db-production-app
      valuesKey: password
      targetPath: postgresql.password
