apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: redis
  name: redis
  namespace: snippetquiz
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: redis
    spec:
      containers:
      - image: redis:6.2-alpine
        name: redis
        envFrom:
          - secretRef:
              name: common-env
        command:
          - sh
          - -c
          - |
            redis-server \
              --save 20 1 \
              --loglevel warning \
              --requirepass "$REDIS_PASSWORD"
        ports:
          - containerPort: 6379
status: {}
---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: snippetquiz
spec:
  selector:
    app: redis
  ports:
    - port: 6379
      targetPort: 6379