server:
    port: 7001
    servlet:
        context-path: /api
spring:
    application:
        name: core-service
    datasource:
        url: jdbc:postgresql://${POSTGRESQL_HOST}:${POSTGRESQL_PORT}/${POSTGRESQL_DATABASE}
        username: ${POSTGRESQL_USER}
        password: ${POSTGRESQL_PASSWORD}
        driver-class-name: org.postgresql.Driver
        jpa:
            hibernate:
                ddl-auto: validate
            database-platform: org.hibernate.dialect.PostgreSQLDialect
            properties:
                hibernate:
                    default_schema: core
            show-sql: true
    flyway:
        baseline-on-migrate: true
        baseline-version: 0
        validate-on-migrate: true
        schemas: core
    redis:
        host: ${REDIS_HOST:localhost}
        port: ${REDIS_PORT:6379}
        password: ${REDIS_PASSWORD}
springdoc:
    api-docs:
        path: /api-docs
    swagger-ui:
        path: /swagger-ui.html
        enabled: true
management:
    endpoints:
        web:
            exposure:
                include: health


# TODO: kafka