apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: frontend
  name: frontend
  namespace: snippetquiz
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - image: ghcr.io/rafaesc/snippetquiz/snippetquiz-frontend:latest
          name: snippetquiz-frontend
          envFrom:
            - secretRef:
                name: common-env
          ports:
            - containerPort: 3000
