apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontend
  namespace: snippetquiz
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - sq.rafaescala.com
      secretName: frontend-tls-secret
  rules:
    - host: sq.rafaescala.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 3000