apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps
  namespace: flux-system
spec:
  interval: 10m
  retryInterval: 1m
  timeout: 5m
  prune: true
  sourceRef:
      kind: GitRepository
      name: flux-system
  path: ./apps/homelab
  decryption:
    provider: sops
    secretRef:
        name: sops-age