apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: api-gateway
  name: api-gateway
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - image: ghcr.io/rafaesc/snippetquiz/snippetquiz-api-gateway:{{ .Chart.AppVersion }}
          name: snippetquiz-api-gateway
          ports:
            - containerPort: 3001
          envFrom:
            - secretRef:
                name: common-env
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: api-gateway
  name: api-gateway
spec:
  selector:
    app: api-gateway
  ports:
    - port: 3001
      targetPort: 3001