apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: core-service
  name: core-service
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      app: core-service
  template:
    metadata:
      labels:
        app: core-service
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - image: ghcr.io/rafaesc/snippetquiz/snippetquiz-core-service:latest
          name: snippetquiz-core-service
          ports:
            - containerPort: 3003
          envFrom:
            - secretRef:
                name: common-env
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: core-service
  name: core-service
spec:
  selector:
    app: core-service
  ports:
    - port: 3003
      targetPort: 3003